<form id='new_question_form' method='POST' action='/diagnostics'>
  <input name='answer_attributes[]text' />
  <input name='answer_attributes[]text' />
  <input name='voters_attributes[]email' />
  <input name='voters_attributes[]email' />

  <input type='submit' />
</form>
